In [1]:
import pandas as pd

При помощи Python и SQL найдите, как называются ваши города в таблице City базы данных World-db (строка подключения аналогично лекции - `postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db`)
Создайте соответствующий справочник на отдельном листе Google-таблиц
Добавьте колонку с английским названием города при помощи функции VLOOKUP (ВПР)

*Возможно я что-то тут не додумал, но пришлось копировать ручками*

In [2]:
CONNECTION_STRING = 'postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db'

In [10]:
df = pd.read_sql("""
SELECT * 
FROM City
""", CONNECTION_STRING)
df.head()

     id   name country_code   district  population
0  3629  Soti          RUS  Krasnodar      358600

In [9]:
df.to_csv('city.csv')

Скачайте данные в CSV и откройте их в Python

In [11]:
df_travel = pd.read_csv('travel.csv', sep = ',', decimal=',')
df_travel

,Отметка времени,Страна,Город,Дата начала,Дата окончания,Планируемый бюджет,Стоимость билетов,Стоимость отеля,Траты на отдыхе,Оценка отпуска,Итоговая стоимость,Превышение бюджета,Стоимость одного дня,Английское название
0,13.12.2022 15:42:33,Португалия,Лиссабон,10.10.2019,20.10.2019,300000,125000,70000,85000,5,280005,-19995,28000.50000,Lisboa
1,13.12.2022 15:43:08,Греция,Афины,20.04.2020,29.04.2020,150000,50000,39000,71000,4,160004,10004,17778.22222,Athenai
2,13.12.2022 15:44:03,Греция,Ираклион,15.07.2019,31.07.2019,500000,150000,250000,230000,3,630003,130003,39375.18750,Herakleion
3,13.12.2022 15:44:36,Россия,Кострома,10.07.2022,18.07.2022,100000,20000,60000,45000,3,125003,25003,15625.37500,Kostroma
4,13.12.2022 15:48:03,Италия,Венеция,20.10.2020,30.10.2020,250000,90000,80000,40000,4,210004,-39996,21000.40000,Venezia
5,13.12.2022 15:48:40,Россия,Ярославль,01.05.2022,05.05.2022,80000,30000,75000,50000,5,155005,75005,38751.25000,Jaroslavl
6,13.12.2022 15:50:29,Россия,Сочи,20.07.2020,10.08.2020,250000,80000,150000,20000,3,250003,3,11904.90476,Soti
7,13.12.2022 15:51:03,Россия,Севастополь,01.08.2021,17.08.2021,350000,85000,200000,50000,4,335004,-14996,20937.75000,Sevastopol
8,13.12.2022 15:54:12,Испания,Мадрид,12.04.2021,20.04.2021,300000,140000,110000,90000,4,340004,40004,42500.50000,Madrid
9,13.12.2022 15:55:13,Испания,Валенсия,13.10.2021,23.10.2021,250000,100000,70000,50000,4,220004,-29996,22000.40000,Valencia
10,13.12.2022 15:56:22,Турция,Стамбул,02.01.2021,08.01.2021,150000,40000,55000,60000,5,155005,5005,25834.16667,Istanbul
11,13.12.2022 15:57:22,Россия,Казань,02.01.2020,08.01.2020,150000,30000,80000,55000,4,165004,15004,27500.66667,Kazan
12,13.12.2022 15:58:30,Россия,Калининград,08.08.2022,15.08.2022,200000,15000,100000,70000,5,185005,-14995,26429.28571,Kaliningrad

При помощи SQL и Python получите датафрейм с названием города и его населением из таблицы City

In [14]:
df_city = pd.read_sql(
"""
SELECT name, population
FROM City
""", 
CONNECTION_STRING)
df_city.head()

             name  population
0           Kabul     1780000
1        Qandahar      237500
2           Herat      186800
3  Mazar-e-Sharif      127800
4       Amsterdam      731200

При помощи Python соедините данные из выгруженного CSV файла (пункт 8) и таблицы с населением города.  
Сгруппируйте итоговый датафрейм по странам и рассчитайте среднюю численность населения в городах, в которых вы отдыхали

In [15]:
df_population = df_travel.merge(
    df_city, left_on='Английское название', right_on='name', how='inner'
)
df_population

,Отметка времени,Страна,Город,Дата начала,Дата окончания,Планируемый бюджет,Стоимость билетов,Стоимость отеля,Траты на отдыхе,Оценка отпуска,Итоговая стоимость,Превышение бюджета,Стоимость одного дня,Английское название,name,population
0,13.12.2022 15:42:33,Португалия,Лиссабон,10.10.2019,20.10.2019,300000,125000,70000,85000,5,280005,-19995,28000.50000,Lisboa,Lisboa,563210
1,13.12.2022 15:43:08,Греция,Афины,20.04.2020,29.04.2020,150000,50000,39000,71000,4,160004,10004,17778.22222,Athenai,Athenai,772072
2,13.12.2022 15:44:03,Греция,Ираклион,15.07.2019,31.07.2019,500000,150000,250000,230000,3,630003,130003,39375.18750,Herakleion,Herakleion,116178
3,13.12.2022 15:44:36,Россия,Кострома,10.07.2022,18.07.2022,100000,20000,60000,45000,3,125003,25003,15625.37500,Kostroma,Kostroma,288100
4,13.12.2022 15:48:03,Италия,Венеция,20.10.2020,30.10.2020,250000,90000,80000,40000,4,210004,-39996,21000.40000,Venezia,Venezia,277305
5,13.12.2022 15:48:40,Россия,Ярославль,01.05.2022,05.05.2022,80000,30000,75000,50000,5,155005,75005,38751.25000,Jaroslavl,Jaroslavl,616700
6,13.12.2022 15:50:29,Россия,Сочи,20.07.2020,10.08.2020,250000,80000,150000,20000,3,250003,3,11904.90476,Soti,Soti,358600
7,13.12.2022 15:51:03,Россия,Севастополь,01.08.2021,17.08.2021,350000,85000,200000,50000,4,335004,-14996,20937.75000,Sevastopol,Sevastopol,348000
8,13.12.2022 15:54:12,Испания,Мадрид,12.04.2021,20.04.2021,300000,140000,110000,90000,4,340004,40004,42500.50000,Madrid,Madrid,2879052
9,13.12.2022 15:55:13,Испания,Валенсия,13.10.2021,23.10.2021,250000,100000,70000,50000,4,220004,-29996,22000.40000,Valencia,Valencia,739412
10,13.12.2022 15:55:13,Испания,Валенсия,13.10.2021,23.10.2021,250000,100000,70000,50000,4,220004,-29996,22000.40000,Valencia,Valencia,147924
11,13.12.2022 15:55:13,Испания,Валенсия,13.10.2021,23.10.2021,250000,100000,70000,50000,4,220004,-29996,22000.40000,Valencia,Valencia,794246
12,13.12.2022 15:56:22,Турция,Стамбул,02.01.2021,08.01.2021,150000,40000,55000,60000,5,155005,5005,25834.16667,Istanbul,Istanbul,8787958
13,13.12.2022 15:57:22,Россия,Казань,02.01.2020,08.01.2020,150000,30000,80000,55000,4,165004,15004,27500.66667,Kazan,Kazan,1101000
14,13.12.2022 15:58:30,Россия,Калининград,08.08.2022,15.08.2022,200000,15000,100000,70000,5,185005,-14995,26429.28571,Kaliningrad,Kaliningrad,424400

In [24]:
df_population[['Страна', 'population']].groupby('Страна').mean().sort_values(by='population', ascending=False)

            population
Страна
Греция        444125.0
Испания      1140158.5
Италия        277305.0
Португалия    563210.0
Россия        522800.0
Турция       8787958.0